/* .blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.color {
    color: aqua;
} */
h1{
    color: aqua;
   }
